<div class="container col col-lg-12 col-sm-12">
<div class="form-group">
    <ng-flash-message></ng-flash-message>
      <form [formGroup]="AddCourseForm" (ngSubmit)="onSubmit(AddCourseForm.value)">
      <div ><h3><b>Add Course Details</b></h3></div>
        <div class="form-group">
          <label>Name:</label>
          <input type="text" placeholder="Course name" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
          <div *ngIf="submitted && !!f.name.errors" class="invalid-feedback">
            <div *ngIf="!!f.name.errors.required">Name is required</div>
            <div *ngIf="f.name.errors.pattern"><p>Name contains only alphabets</p></div>
            <div *ngIf="f.name.errors.minlength"><p>Name must be at least 3 characters</p></div>
          </div>
        </div>
        <div class="form-group">
          <label>Description:</label>
          <input type="text" placeholder="Description" formControlName="description"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
          <div *ngIf="submitted && !!f.description.errors" class="invalid-feedback">
            <div *ngIf="!!f.description.errors.required">description is required</div>
          </div>
        </div>
        <div class="form-group">
          <label>Duration(hrs):</label>
          <input type="number" placeholder="  Duration" formControlName="duration" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.duration.errors }" />
          <div *ngIf="submitted && !!f.duration.errors" class="invalid-feedback">
            <div *ngIf="!!f.duration.errors.required">duration is required</div>
          </div>
        </div>
        <div class="form-group">
          <label>Number of days:</label>
          <input type="number" placeholder="Number Of Days" formControlName="noOfDays" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.noOfDays.errors }" />
          <div *ngIf="submitted && !!f.noOfDays.errors" class="invalid-feedback">
            <div *ngIf="!!f.noOfDays.errors.required">Number of days is required</div>
          </div>
        </div>
        <div class="form-group">
          <label>Coach:</label>
          <input type="text" placeholder="  Coach" formControlName="Coach" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Coach.errors }" />
          <div *ngIf="submitted && !!f.Coach.errors" class="invalid-feedback">
            <div *ngIf="!!f.Coach.errors.required">Coach is required</div>
            <div *ngIf="f.Coach.errors.pattern"><p>Coach Name contains only alphabets</p></div>
            <div *ngIf="f.Coach.errors.minlength"><p>Coach Name must be at least 3 characters</p></div>
          </div>
        </div>
        <div class="form-group">
          <label>Fee(Rs):</label>
          <input type="number" placeholder="  Fee" formControlName="fee" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.fee.errors }" />
          <div *ngIf="submitted && !!f.fee.errors" class="invalid-feedback">
            <div *ngIf="!!f.fee.errors.required">fee is required</div>
          </div>
          <div class="form-group">
            <button class="btn btn-primary  mt-3">Add Course</button>
            <button class="btn btn-primary ml-3 mt-3" type="reset">Reset </button>
          </div>
        </div>
      </form>
    </div>
</div>


