
<table>
  <tr><b>Add Course Details</b></tr>
  <tr><td>name</td><td><input type="text"></td></tr>
  <tr><td>Description</td><td><input type="text"></td></tr>
  <tr><td>Duration</td><td><input type="number"></td></tr>
  <tr><td>Number of days</td><td><input type="number"></td></tr>
  <tr><td>Couch</td><td><input type="text"></td></tr>
  <tr><td>Slots List</td><td> <select name="timeslots">
    <option value="10.00 a.m-11.00 a.m">slot1</option>
    <option value="12.00 p.m-1.00 p.m">slot2</option>
    <option value="3.00 p.m-4.00 p.m">slot3</option>
   </select></td></tr>
  <tr><td>number of students</td><td><input type="number"></td></tr>
  <tr><td>Available Slots</td><td> <select name="timeslots">
    <option value="10.00 a.m-11.00 a.m">slot1</option>
    <option value="12.00 p.m-1.00 p.m">slot2</option>
    <option value="3.00 p.m-4.00 p.m">slot3</option>
  </select></td></tr>

  <tr><button type="button">Add</button> </tr>
</table>
