<div class="row mt-2 col col-lg-12 col-sm-12"><h3><b class="ml-3">Search</b></h3>
  <input class="form-control col-2 ml-4" type="text" name="search" [(ngModel)]="search.course" placeholder="search by Course name">
  <input class="form-control col-2 ml-4" type="text" name="search" [(ngModel)]="search.firstName" placeholder="search by First name">
  <input class="form-control col-2 ml-4" type="text" name="search" [(ngModel)]="search.lastName" placeholder="search by Last name">
  <input class="form-control col-2 ml-4" type="text" name="search" [(ngModel)]="search.email" placeholder="search by email">
</div>

<div class=" col col-lg-12 col-sm-12">
<h2 class="mt-2"><b>Students Details</b></h2>
<table class="table">
  <thead id="thead">
  <tr >
    <th><b>Course</b></th>
    <th><b>First name</b></th>
    <th><b>Last name</b></th>
    <th><b>Email</b></th></tr>
  </thead>

  <tbody>
  <tr  *ngFor="let student of students |filterBy:search| paginate: { itemsPerPage: itemsperpage, currentPage: pageno,totalItems:total }">
    <td>{{student.course}}</td>
    <td>{{student.firstName}}</td>
    <td>{{student.lastName}}</td>
    <td>{{student.email}}</td>
   </tr>
  <pagination-controls (pageChange)="getPagination($event)"></pagination-controls>
  </tbody>
</table>
</div>

