<div class="container">
  <div class="row">
  <h2 class="col-2">  <button type="submit" class="btn btn-light"><a routerLink="/courseDetails">Add Course</a></button></h2>
  <h2 align="right">  <button type="submit" class="btn btn-light"><a routerLink="/studentDetails">Enrolled Students</a></button></h2></div>
  <input class="form-control" type="text" name="search"  [(ngModel)]="search" autocomplete="off" placeholder="search here for course and course details ">
  <h2>Course Details</h2>
   <table class="table table-hover">
    <thead id="thead">
    <tr >
      <th><b>Name</b></th>
      <th><b>Duration(Hrs)</b></th>
      <th><b>Number Of Days</b></th>
      <th><b>Coach</b></th>
      <th><b>Fee(Rs)</b></th>
    <th><b>Enroll</b></th></tr>
    </thead>

  <tbody>
      <tr  *ngFor="let course of courses |filter:search| paginate: { itemsPerPage: 4, currentPage: p }">
      <td>{{course.name}}</td>
      <td>{{course.duration}}</td>
      <td>{{course.noOfDays}}</td>
      <td>{{course.Coach}}</td>
      <td>{{course.fee}}</td>
      <td><button (click)="navigate(course)">Enrol</button></td>
      </tr>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </tbody>
  </table>
</div>


