<app-header></app-header>
<div class="container">
  <div class="col col-lg-12 col-sm-12">
<router-outlet></router-outlet>
</div>
</div>
<!----Footer part started-->
<div class="container-fluid">
  <div class="row">
    <div class="col col-lg-12 col-sm-12">
     <footer class="fixed-bottom "  id="footer">
       <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a routerLink="/"> mySummer Camp</a>
      </div>
    </footer>
</div>
  </div>
</div>
<!----Footer part ended-->
