<!----Header part started-->

<div class="container-fluid">
  <header class="page-footer font-small blue">
    <div class="pb-3 pt-3 mt-0  mb-0" >
      <div class="row">
        <div class="col-md-1" >
          <nav>
            <a routerLink="/" routerLinkActive="active" class="fa fa-home" aria-hidden="true" id="home">Home</a>
          </nav>
        </div>
      </div>
    </div>
  </header>
</div>


<router-outlet></router-outlet>

<div class="container-fluid mt-5">
     <footer class="fixed-bottom"  id="footer">
       <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="/"> mySummer Camp</a>
      </div>
    </footer>
</div>

