<div class="container col col-lg-12 col-sm-12 col-md-12 col-sm-12">
<div class="table-responsive">
    <h3><b style="color:  #8fd19e">Course Details</b></h3>
  <table class="table" *ngFor=" let detail of details">
     <tr>  <td scope="row"><b>Name:</b></td><td>{{detail.name}}</td></tr>
     <tr>  <td scope="row"><b>Description:</b></td><td>{{detail.description}}</td></tr>
     <tr>  <td scope="row"><b>Duration(Hrs):</b></td><td>{{detail.duration}}</td></tr>
     <tr>  <td scope="row"><b>NoOfDays:</b></td><td>{{detail.noOfDays}}</td></tr>
     <tr>  <td scope="row"><b>Coach:</b></td><td>{{detail.Coach}}</td></tr>
     <tr>  <td scope="row"><b>Fee(Rs):</b></td><td>{{detail.fee}}</td></tr>
  </table>
</div>
</div>


<div  class="container col col-lg-12 col-sm-12 col-md-12 col-sm-12 pb-3">
  <button (click)="get()"  class="btn "style="background-color:  #8fd19e">Click To Register</button>
  <button (click)="getRegisterd()"  type="button" class="btn  ml-5" style="background-color:  #8fd19e" data-toggle="modal" data-target="#myModal">Enrolled Students Details</button>

</div>

<div *ngIf ="id" class="jumbotron col col-lg-12 col-sm-12">
     <div class="form-group">
         <ng-flash-message></ng-flash-message>
       <h3><b style="color:  #8fd19e">Course Registration Form</b></h3>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)">
          <div class="form-group">
            <label>First Name</label>
            <input type="text" placeholder="First name" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
            <div *ngIf="submitted && !!f.firstName.errors" class="invalid-feedback">
              <div *ngIf="f.firstName.errors.required">First Name is required</div>
              <div *ngIf="f.firstName.errors.pattern"><p>First Name contains only alphabets</p></div>
              <div *ngIf="f.firstName.errors.minlength"><p>First Name must be at least 3 characters</p></div>

            </div>
          </div>
          <div class="form-group">
            <label>Last Name</label>
            <input type="text" placeholder="Last name" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
            <div *ngIf="submitted &&!! f.lastName.errors" class="invalid-feedback">
              <div *ngIf="f.lastName.errors.required">Last Name is required</div>
              <div *ngIf="f.lastName.errors.pattern"><p>Last Name contains only alphabets</p></div>
              <div *ngIf="f.lastName.errors.minlength"><p>Last Name must be at least 3 characters</p></div>

            </div>
          </div>
          <div class="form-group">
            <label>Email</label>
            <input type="text" placeholder="Email address" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && !!f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required</div>
              <div *ngIf="f.email.errors.pattern"><p>Email must be a valid email address</p></div>
             </div>
          </div>

          <div class="form-group pb-md-4 pb-xl-4 pb-lg-4 pb-sm-4">
            <button class="btn "style="background-color:  #8fd19e">Register</button>
            <button class="btn ml-3" style="background-color:  #8fd19e" type="reset">Reset </button>
          </div>
        </form>
      </div>
</div>


 <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
       <h2  class="modal-title" id="exampleModalLongTitle" ><b  style="color:  #8fd19e">Enrolled Students Details</b></h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf ="enroll" class=" col col-lg-12 col-sm-12">
          <table class="table table-hover">
            <thead id="thead">
            <tr >
              <th><b>Course</b></th>
              <th><b>First name</b></th>
              <th><b>Last name</b></th>
              <th><b>Email</b></th></tr>
            </thead>

            <tbody>
            <tr  *ngFor="let student of enrolled | paginate: { itemsPerPage: 4, currentPage: p }">
              <td>{{student.course}}</td>
              <td>{{student.firstName}}</td>
              <td>{{student.lastName}}</td>
              <td>{{student.email}}</td>
            </tr>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" style="background-color:  #8fd19e" data-dismiss="modal">Close</button>
       </div>
    </div>
  </div>
</div>

