<div class="table-responsive">
  <table class="table">
     <tr>  <td><b>name:</b></td><td>{{details.name}}</td></tr>
     <tr>  <td><b>description:</b></td><td>{{details.description}}</td></tr>
     <tr>  <td><b>duration:</b> </td><td>{{details.duration}}</td></tr>
     <tr>  <td><b>noOfDays:</b></td><td>{{details.noOfDays}}</td></tr>
     <tr>  <td><b>Coach:</b></td><td>{{details.Coach}}</td></tr>
     <tr>  <td><b>fee:</b></td><td>{{details.fee}}</td></tr>

  </table>
</div>
 

<table>
  <tr><b>Fill the Form to Enroll the Course</b></tr>
  <tr><td>course</td><td>  {{details.name}}</td></tr>
  <tr><td>first name</td><td><input type="text"></td></tr>
  <tr><td>last name</td><td><input type="text"></td></tr>
  <tr><td>email</td><td><input type="text"></td></tr>
  <tr><button type="button">Enrol</button> </tr>
</table>
