<!----Header part started-->
  <header>
    <!-- Fixed navbar -->
    <nav class=" row navbar fixed-top color">
      <a class="navbar-brand col-lg-2"  routerLink="/" class="fa fa-home" aria-hidden="true"><b>MySummerCamp</b></a>

          <span class="nav-item col-lg-1">
            <a class="nav-link" routerLink="/courseDetails" class="fa" ><b>Add Course</b></a>
          </span>
          <span class="nav-item col-lg">
            <a class="nav-link " routerLink="/studentDetails" class="fa"><b>Enrolled Students</b></a>
          </span>
         <form class="form-inline mt-2 mt-md-0 col-lg-4 align-right">
          <input class="form-control mr-sm-2" type="text" placeholder="Search here" aria-label="Search">
          <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
        </form>

    </nav>
  </header>
<!----Header part ended-->
