<!----Header part started-->
<div class="container-fluid mt-5 pb-3 ">
  <header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-light fixed-top color">
      <a class="navbar-brand col-lg-4"  routerLink="/" class="fa fa-home" aria-hidden="true"><b>MySummerCamp</b></a>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">

          <li class="nav-item col-lg-4">
            <a class="nav-link"><b>Link</b></a>
          </li>
          <li class="nav-item col-lg-4">
            <a class="nav-link disabled" href="#"><b>Disabled</b></a>
          </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search here" aria-label="Search">
          <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
  </header>
</div>
<!----Header part ended-->
